{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <article>
                    <h2>{{ post.title }}</h2>
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-4">
                    <p>{{ post.description }}</p>
                    <h5><em>Автор: {{ post.author }}</em> <br> <em>{{ post.created_at }}</em></h5>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
